*{margin: 0; padding: 0;}
 
#tudo{width: 100%; margin: 0 auto; float: left; position: relative; z-index: 10;}
 
.nav{list-style: none;}
 
.nav li{float: left; position: relative;}

.nav li a:link, .nav li a:visited{display: block;text-decoration: none; margin-right: 3px; color: #fff; text-align: left; text-align: center;}
.nav li a:hover{text-decoration: none; color: #42c0fb;}
 
.submenu{
    margin:0;
    list-style:none;
    display:none;
    width:150px;
    position:absolute;
    top:30px; padding-top: 15px; font-size: 16px;
}
 
.nav li:hover .submenu{
    display:block;
}
 
.submenu-2{
    margin:0;
    list-style:none;
    display:none;
    width:130px;
    position:absolute;
    left: 170px;
    top: 0;
}
 
.nav .submenu li:hover .submenu-2{
    display:block;
}
 
.submenu-2 li a:link,
.submenu-2 li a:visited{
    display: block;
    padding: 10px;
	margin-left: 30px;
    background: #06497e;
    text-decoration: none;
    width: 200px;
    color: #fff;
}
 
.submenu-2 li:hover a,
.submenu-2 li a:active,
.submenu-2 li a:hover{
    display: block;
    padding: 10px;
	margin-left: 30px;
    background: #798699;
    text-decoration: none;
    width: 200px;
    color: #fff;
}